.banner {
    height: 91vh;
    background-color: skyblue;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/StockSnap_XHLXOTTNL9.jpg);
    background-size: cover;
    background-position: center;
}

.banner-tentang {
    height: auto;
    background-color: skyblue;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/giphy.gif);
    background-size: 100vh;
    background-position: center;
}

.banner-content {
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content-tentang {
    height: 80vh;
    color: white;
    display: flex;
}

.banner-content-artikel {
    height: 91vh;
    background-color: lightcyan;
    background-size: cover;
    background-position: center;
}

.kontenBanner {
    background-color: black;
    padding: 30px;
    border-radius: 15px;
    width: 500px;
}

.borderRadius {
    border-radius: 10px;
}

.footer {
    height: 8vh;
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .gambarBuku {
        width: 214px;
        height: 301px;
    }
    .ukuranFoto {
        height: 300px;
        width: 200px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1400px){
    .gambarBuku {
        width: 304px;
        height: 417px;
    }
    .ukuranFoto {
        height: 300px;
        width: 200px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 767px){
    /* .gambarBuku {
        width: 244px;
        height: 343px;
    } */
    .ukuranFoto {
        height: 200px;
        width: 144px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .gambarBuku {
        width: 259px;
        height: 364px;
    }
    .ukuranFoto {
        height: 300px;
        width: 200px;
        border-radius: 10px;
    }
}
